<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SteamStats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
<div class="form-container">

    <form action="{{ url_for('search') }}" method="POST">

        {{ form.steam_id.label }} {{ form.steam_id }}
        {{ form.csrf_token }}
        {{ form.submit }}

    </form>
 <span id="description"> <p>Make sure your account is set to public. Most functionality will not work if set
        to private.</p></span>



</body>