<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div id="stats-container">
    <h1>GAMES</h1>
        <table id="games-table" cellpadding="10">
        {% for game in stats%}
                <tr>
                {% for key in game%}
                    {% if key == 'gamepic' %}
                        <td><img class="game-pic" src="{{ game[key] }}"></td>
                    {% endif %}
                {% endfor %}
                {% for key in game%}
                    {% if key == 'gamename' %}
                        <td valign="top">{{ game[key] }}<br />
                    {% endif %}
                    {% if key == 'percentcomplete' %}
                        {{ game[key] }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>